body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000 !important;
}

/* media query */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .pembuka {
        padding-top: 24%;
    }

    .tombol {
        text-transform: uppercase;
        border-radius: 40px !important;
        margin: 8px;

    }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


    .pembuka {
        padding-top: 25%;
    }

    .tombol {
        text-transform: uppercase;
        border-radius: 40px !important;
        margin: 8px;

    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .pembuka {
        padding-top: 20%;
    }
}

@media (min-width: 1200px) {

    .active {
        border-bottom: 2px solid #28A745;
        /* border-width: 3px !important; */
        text-align: center;
    }

    .menu {
        text-align: center;
    }

    .menu:hover {
        border-bottom: 2px solid #28A745;
        /* border-width: 3px !important; */
    }

    .pembuka {
        padding-top: 20%;
    }

    .tombol {
        text-transform: uppercase;
        border-radius: 40px !important;
        margin: 8px;

    }
}

/* =========================================== */


main {
    padding-top: 3rem;
    color: white;
}

.bg-black{
    background-color: black;
    transition: 0.3s;
}

.card {
    background-color: rgba(27, 27, 27, 0.712) !important;
}


.tombol {
    text-transform: uppercase;
    border-radius: 40px !important;

}

.bg-cover {
    background-size: cover;
    color: #000;
    background-position: center;
    position: relative;
    z-index: -2;
}

.jumbotron{
    height: 40rem;
    text-align: center;
    padding-top: 10rem;
    background-size: cover;
    margin-bottom: 0px !important;
    background: url(../img/desa.jpg);
}


.lead span {
    color: orange;
    font-weight: bold;
}

.bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.overlay {
    text-shadow: 2px 2px #000;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.aduan {

    z-index: 2 !important;

}

footer{
    color:white;
    background-color: orange
}

footer p{
    text-align: center ;
}



